.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.layout-content {
  /* Default styles */
  margin: 0 auto;
  padding: 24px;
  min-height: 280px;
  background: white;
  max-width: 1200px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .layout-content {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .layout-content {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
  }
}